services:
  - type: web
    name: weibsim
    runtime: node
    plan: free
    rootDir: .
    buildCommand: |
      cd frontend && npm install && npm run build
      cd ../backend && npm install
    startCommand: cd backend && npm run start
    healthCheckPath: /api/health
    envVars:
      - key: NODE_ENV
        value: production
